In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [46]:
dataset=pd.read_csv("salaryData.csv")

In [47]:
dataset.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [48]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
YearsExperience    30 non-null float64
Salary             30 non-null float64
dtypes: float64(2)
memory usage: 560.0 bytes

In [52]:
x=dataset.iloc[:,:-1]

In [53]:
y=dataset.iloc[:,-1]

In [54]:
print(len(x),len(y))

30 30

In [57]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [58]:
print(len(x_train),len(y_train),len(x_test),len(y_test))

24 24 6 6

In [61]:
clf=LinearRegression(normalize=True)

In [62]:
clf.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=True)

In [63]:
y_pred=clf.predict(x_test)

In [64]:
np_y_pred=np.array(y_pred)
np_y_test=np.array(y_test)

In [67]:
for i in range(6):
    print("Prediction:",np_y_pred[i],"Expected:",np_y_test[i],"Difference :",(np_y_pred[i]-np_y_test[i]))

Prediction: 35791.10029675972 Expected: 39343.0 Difference : -3551.8997032402767
Prediction: 116642.35992139875 Expected: 112635.0 Difference : 4007.3599213987472
Prediction: 44351.821904074444 Expected: 43525.0 Difference : 826.8219040744443
Prediction: 92862.57767885785 Expected: 98273.0 Difference : -5410.422321142149
Prediction: 53863.734801090795 Expected: 60150.0 Difference : -6286.265198909205
Prediction: 46254.20448347772 Expected: 39891.0 Difference : 6363.204483477719

In [71]:
confidence=clf.score(x_test,y_test)

In [73]:
print("The Accuracy of the Classifier :",(confidence*100))

The Accuracy of the Classifier : 97.30652095803491