In [1]:
import pandas as pd
import numpy as np

In [2]:
list1 = ["Sal", "Sam", "Jai"]

In [3]:
list1

['Sal', 'Sam', 'Jai']

In [4]:
df = pd.DataFrame(list1)

In [5]:
df.head()

     0
0  Sal
1  Sam
2  Jai

In [6]:
dict1 = {"Coll_name": ["KJSIEIT", "DBIT", "TSCOE", "RAIT"], 
         "Location" : ["Sion", "Kurla", "Bandra", "Nerul"], 
         "Cutoff" : [160, 100, 120, 150]
        }

In [7]:
df = pd.DataFrame(dict1)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
Coll_name    4 non-null object
Cutoff       4 non-null int64
Location     4 non-null object
dtypes: int64(1), object(2)
memory usage: 176.0+ bytes

In [9]:
dict1["Coll_name"].append("VESIT")

In [10]:
dict1

{'Coll_name': ['KJSIEIT', 'DBIT', 'TSCOE', 'RAIT', 'VESIT'],
 'Cutoff': [160, 100, 120, 150],
 'Location': ['Sion', 'Kurla', 'Bandra', 'Nerul']}

In [11]:
dict1["Location"].append("Chembur")

In [12]:
dict1["Cutoff"].append(np.nan)

In [13]:
df = pd.DataFrame(dict1)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
Coll_name    5 non-null object
Cutoff       4 non-null float64
Location     5 non-null object
dtypes: float64(1), object(2)
memory usage: 200.0+ bytes

In [15]:
df.head()

  Coll_name  Cutoff Location
0   KJSIEIT   160.0     Sion
1      DBIT   100.0    Kurla
2     TSCOE   120.0   Bandra
3      RAIT   150.0    Nerul
4     VESIT     NaN  Chembur

In [16]:
df = pd.read_csv("menu.csv")

In [17]:
df.head()

,Category,Item,Serving Size,Calories,Calories from Fat,Total Fat,Total Fat (% Daily Value),Saturated Fat,Saturated Fat (% Daily Value),Trans Fat,...,Carbohydrates,Carbohydrates (% Daily Value),Dietary Fiber,Dietary Fiber (% Daily Value),Sugars,Protein,Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,120,13.0,20,5.0,25,0.0,...,31,10,4,17,3,17,10,0,25,15
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,70,8.0,12,3.0,15,0.0,...,30,10,4,17,3,18,6,0,25,8
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,200,23.0,35,8.0,42,0.0,...,29,10,4,17,2,14,8,0,25,10
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,250,28.0,43,10.0,52,0.0,...,30,10,4,17,2,21,15,0,30,15
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,210,23.0,35,8.0,42,0.0,...,30,10,4,17,2,21,6,0,25,10

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 24 columns):
Category                         260 non-null object
Item                             260 non-null object
Serving Size                     260 non-null object
Calories                         260 non-null int64
Calories from Fat                260 non-null int64
Total Fat                        260 non-null float64
Total Fat (% Daily Value)        260 non-null int64
Saturated Fat                    260 non-null float64
Saturated Fat (% Daily Value)    260 non-null int64
Trans Fat                        260 non-null float64
Cholesterol                      260 non-null int64
Cholesterol (% Daily Value)      260 non-null int64
Sodium                           260 non-null int64
Sodium (% Daily Value)           260 non-null int64
Carbohydrates                    260 non-null int64
Carbohydrates (% Daily Value)    260 non-null int64
Dietary Fiber                    260 non-null int64
Dietary Fiber (% Daily Value)    260 non-null int64
Sugars                           260 non-null int64
Protein                          260 non-null int64
Vitamin A (% Daily Value)        260 non-null int64
Vitamin C (% Daily Value)        260 non-null int64
Calcium (% Daily Value)          260 non-null int64
Iron (% Daily Value)             260 non-null int64
dtypes: float64(3), int64(18), object(3)
memory usage: 48.8+ KB

In [20]:
df_menu = df.melt(id_vars = ["Category", "Item", "Serving Size", "Calories"], var_name = "Stats")

In [21]:
df_menu.head()

,Category,Item,Serving Size,Calories,Stats,value
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,Calories from Fat,120.0
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,Calories from Fat,70.0
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,Calories from Fat,200.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,Calories from Fat,250.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,Calories from Fat,210.0

In [22]:
df_menu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5200 entries, 0 to 5199
Data columns (total 6 columns):
Category        5200 non-null object
Item            5200 non-null object
Serving Size    5200 non-null object
Calories        5200 non-null int64
Stats           5200 non-null object
value           5200 non-null float64
dtypes: float64(1), int64(1), object(4)
memory usage: 243.8+ KB

In [23]:
df_menu.shape

(5200, 6)

In [24]:
df_menu.Stats.nunique()

20

In [32]:
df_menu.tail()

,Category,Item,Serving Size,Calories,Stats,value
5195,Smoothies & Shakes,McFlurry with Oreo Cookies (Small),10.1 oz (285 g),510,Iron (% Daily Value),8.0
5196,Smoothies & Shakes,McFlurry with Oreo Cookies (Medium),13.4 oz (381 g),690,Iron (% Daily Value),10.0
5197,Smoothies & Shakes,McFlurry with Oreo Cookies (Snack),6.7 oz (190 g),340,Iron (% Daily Value),6.0
5198,Smoothies & Shakes,McFlurry with Reese's Peanut Butter Cups (Medium),14.2 oz (403 g),810,Iron (% Daily Value),6.0
5199,Smoothies & Shakes,McFlurry with Reese's Peanut Butter Cups (Snack),7.1 oz (202 g),410,Iron (% Daily Value),4.0

In [26]:
df_menu.describe()

          Calories        value
count  5200.000000  5200.000000
mean    368.269231    47.686731
std     239.830446   171.492076
min       0.000000     0.000000
25%     210.000000     1.000000
50%     340.000000    10.000000
75%     500.000000    31.000000
max    1880.000000  3600.000000

In [27]:
df.describe()

,Calories,Calories from Fat,Total Fat,Total Fat (% Daily Value),Saturated Fat,Saturated Fat (% Daily Value),Trans Fat,Cholesterol,Cholesterol (% Daily Value),Sodium,...,Carbohydrates,Carbohydrates (% Daily Value),Dietary Fiber,Dietary Fiber (% Daily Value),Sugars,Protein,Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
count,260.000000,260.000000,260.000000,260.000000,260.000000,260.000000,260.000000,260.000000,260.000000,260.000000,...,260.000000,260.000000,260.000000,260.000000,260.000000,260.000000,260.000000,260.000000,260.000000,260.000000
mean,368.269231,127.096154,14.165385,21.815385,6.007692,29.965385,0.203846,54.942308,18.392308,495.750000,...,47.346154,15.780769,1.630769,6.530769,29.423077,13.338462,13.426923,8.534615,20.973077,7.734615
std,240.269886,127.875914,14.205998,21.885199,5.321873,26.639209,0.429133,87.269257,29.091653,577.026323,...,28.252232,9.419544,1.567717,6.307057,28.679797,11.426146,24.366381,26.345542,17.019953,8.723263
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,210.000000,20.000000,2.375000,3.750000,1.000000,4.750000,0.000000,5.000000,2.000000,107.500000,...,30.000000,10.000000,0.000000,0.000000,5.750000,4.000000,2.000000,0.000000,6.000000,0.000000
50%,340.000000,100.000000,11.000000,17.000000,5.000000,24.000000,0.000000,35.000000,11.000000,190.000000,...,44.000000,15.000000,1.000000,5.000000,17.500000,12.000000,8.000000,0.000000,20.000000,4.000000
75%,500.000000,200.000000,22.250000,35.000000,10.000000,48.000000,0.000000,65.000000,21.250000,865.000000,...,60.000000,20.000000,3.000000,10.000000,48.000000,19.000000,15.000000,4.000000,30.000000,15.000000
max,1880.000000,1060.000000,118.000000,182.000000,20.000000,102.000000,2.500000,575.000000,192.000000,3600.000000,...,141.000000,47.000000,7.000000,28.000000,128.000000,87.000000,170.000000,240.000000,70.000000,40.000000

In [25]:
df_menu.Stats.unique()

array(['Calories from Fat', 'Total Fat', 'Total Fat (% Daily Value)',
       'Saturated Fat', 'Saturated Fat (% Daily Value)', 'Trans Fat',
       'Cholesterol', 'Cholesterol (% Daily Value)', 'Sodium',
       'Sodium (% Daily Value)', 'Carbohydrates',
       'Carbohydrates (% Daily Value)', 'Dietary Fiber',
       'Dietary Fiber (% Daily Value)', 'Sugars', 'Protein',
       'Vitamin A (% Daily Value)', 'Vitamin C (% Daily Value)',
       'Calcium (% Daily Value)', 'Iron (% Daily Value)'], dtype=object)

In [29]:
df.drop(["Total Fat (% Daily Value)", "Saturated Fat (% Daily Value)", "Cholesterol (% Daily Value)", 'Sodium (% Daily Value)', 'Carbohydrates (% Daily Value)', 'Dietary Fiber (% Daily Value)', 'Vitamin A (% Daily Value)', 'Vitamin C (% Daily Value)',
       'Calcium (% Daily Value)', 'Iron (% Daily Value)'], 1, inplace = True)

In [34]:
df.nunique()

Category               9
Item                 260
Serving Size         107
Calories              78
Calories from Fat     48
Total Fat             52
Saturated Fat         26
Trans Fat              5
Cholesterol           35
Sodium               111
Carbohydrates         84
Dietary Fiber          8
Sugars                83
Protein               42
dtype: int64

In [40]:
df["Dietary Fiber"].unique()

array([4, 2, 3, 6, 7, 1, 5, 0], dtype=int64)

## New Example

In [41]:
dict1 = {"First Score": [100, 90, np.nan, 95],
         "Second Score": [30, 45, 56, np.nan],
         "Third Score": [np.nan, 40, 80, 98]}

In [45]:
df = pd.DataFrame(dict1)

In [43]:
df.head()

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2          NaN          56.0         80.0
3         95.0           NaN         98.0

In [44]:
df.fillna(0)

   First Score  Second Score  Third Score
0        100.0          30.0          0.0
1         90.0          45.0         40.0
2          0.0          56.0         80.0
3         95.0           0.0         98.0

In [46]:
df = pd.DataFrame(dict1)

In [47]:
df.dropna()

   First Score  Second Score  Third Score
1         90.0          45.0         40.0